<div class="index">
    <% @products.each do |i| %>
        <div class="content">
            <table>
            <tr><a href="/products/<%= i.id %>">
                <%= i.title %>
            </a></tr>
            <tr><%= i.description %></tr>
            <tr><%= i.price %></tr>
            <tr><%= render 'products/attachment', product: i %></tr>
            </table>
        </div>
    <% end %>
</div>

<%= link_to "Create Products", new_product_path %>
